@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.navbar {
	position: fixed;
	width: 100%;
	// border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	background: #000;
	z-index: 2 !important;

	.navbar-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #fff;

		.navbar-logo {
			span {
				font-family: "Shadows Into Light";
			}

			cursor: pointer;
			margin: 0 10px;
			padding: 20px;
			font-family: "proxima_nova_rgbold";
			font-size: 30px;
			text-decoration: none !important;
		}

		.navbar-links {
			display: flex;
			margin: 0 20px;

			.navbar-link {
				padding: 10px 20px;
				margin-left: 10px;
				text-decoration: none !important;
			}
		}
	}
}

.admin-link {
	background: lightseagreen;
	border: none;
	padding: 12px 20px 10px 20px !important;

	&:hover {
		background: lightseagreen;
		color: #fff;
	}
}
